/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    @keyframes wave {
        0%, 100% {
            transform: translateY(-1px);
        }
        25%{
            transform: translateY(0);
        }
        50% {
            transform: translateY(-1px);
        }
        75% {
            transform: translateY(0);
        }
    }

    .wave {
        animation: wave 5s infinite;
    }
}

